<nav class="fixed w-full  bg-no-repeat bg-cover z-50 top-0 start-0  bg-center mask-alpha mask-r-from-black mask-r-from-65% mask-r-to-transparent bg-[url(/mapaantiguo.jpg)] bg-zinc-800 bg-blend-overlay ">
  <div class="flex justify-center-safe backdrop-hue-rotate-180">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="logoGame.png" class="h-12 shadow-2xs shadow-amber-600" alt="Flowbite Logo">
        <div class="flex flex-col">
 <span class=" self-auto  sm:text-xs md:text-xl lg:text-3xl text-gray-200 text-shadow-heading font-semibold whitespace-nowrap title">GeoGotApp</span>
        <span class=" self-auto  bg-fuchsia-500 sm:text-xs md:text-sm g:text-md text-heading font-semibold whitespace-nowrap title">Localizaciones</span>
        </div>
    </a>
  </div>
</nav>
