<nav class="fixed w-full z-50 top-0 start-0 bg-amber-50 ">
  <div class="flex justify-center-safe ">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="logo.png" class="h-20 bg-amber-50 " alt="Flowbite Logo">
        <div class="flex flex-col">
 <span class=" self-auto bg-amber-50 sm:text-xs md:text-xl lg:text-3xl text-heading font-semibold whitespace-nowrap title">Juego de Tronos</span>
        <span class=" self-auto  bg-fuchsia-500 sm:text-2xs md:text-xslg:text-2xs text-heading font-semibold whitespace-nowrap title">Localizaciones</span>
        </div>
    </a>
  </div>
</nav>
